#myTopnav {
    list-style-type: none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
    float: right;
	text-decoration: none;
}

#list {
    float: left;
	text-decoration: none;
	list-style: none;
}

#specific {
    display: block;
    padding: 8px;
    background-color: none;
	text-decoration: none;
	color : black;
	font-family : "Times New Roman", serif;
	font-size : 14px;
	margin-top : 10%;
}
#specific:hover{
	text-decoration: underline;
}
#footy:hover{
	text-decoration: underline;
}
#footey:hover{
	text-decoration: underline;
}
li a button{
	display: inline-block;
	margin-top : -20%;
}
#input_button:hover{
	background-color: #e7e7e7;
}
#image {  
   width : 50%; 
   height: 10em;             
   margin-left: 35%;
   position: absolute;               
   top: 50%;                         
   transform: translate(0, -50%) }  
  
.form {
   margin-left: -10%;
   position: absolute;               
   clear: both;
	
}
#container {
  display: flex;
  
}
#container > div {
  flex: 1; 
  margin-left: 25%;
  width: 10px;
  
}
input[type=submit] {
    background-color: none;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    width: 160%;
	height: 100%;
	padding: 12px 20px 20px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

#input_container { 
	width: 300px;
	margin-left: 18%;
	position:relative; 
	padding:0; 
	margin:0; 
}
#input { height:20px; margin:0; padding-left: 30px; }

#input_img { position:absolute; bottom:8px; left:450px; width:10px; height:20px; }
.button {
    background-color: none;
    border: none;
    color: black;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
	}
#sign {
	background-color: #4286f4; 
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	
}
#footer{
	text-decoration: none;
	display: inline-block;
	position: absolute;
	background-color: #eff1f2;
    bottom: 0px;
    width: 99%;
	list-style: none;
	
}
#footy {
	display: block;
    padding: 8px;
	text-decoration: none;
	color : black;
	font-family : "Times New Roman", serif;
	font-size : 14px;
	width: auto;
	
}
#footerdiv {
	width: auto;
	background-color: gray;
	
}

#listy {
    float: right;
	text-decoration: none;
	list-style: none;
}
#footey {
	display: block;
    padding: 8px;
    background-color: none;
	text-decoration: none;
	color : black;
	font-family : "Times New Roman", serif;
	font-size : 14px;
	
}